@{
    ViewData["Title"] = "Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    int pageNumber = ViewBag.pageNumber;
    string color = ViewBag.color;
    int productCount = ViewBag.productCount;
}

<div class="product-list scroll-container" load-page="@pageNumber" load-page-counter="@productCount">

    @{
        for (int i = 0; i < productCount; i++)
        {
            <div class="product scroll-zone @pageNumber" style="background-color:@color;">
                <div class="product-container">
                    Product @pageNumber
                </div>
            </div>
        }
    }
</div>